<p style="color: green"><%= notice %></p>
<% content_for :title, "Papers" %>
<h1>Papers</h1>
<%= link_to "New paper", new_paper_path %>
<div id="papers">
  <% @papers.each do |paper| %>
    <%= link_to paper do %>
      <%= render paper %>
    <% end %>
  <% end %>
</div>
