.header-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .header-row {
        flex-direction: column;
        align-items: start;
    }
}

.button {
    display: inline-block;
    background-color: var(--botticelli);
    color: var(--tiber);
    border: 1px solid var(--white);
    padding: 6px 12px;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: var(--white);
        color: var(--cornflower-blue);
    }
}

@media screen and (max-width: 768px) {
    .button {
        padding: 5px 10px;
    }
}